@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    position: relative;
    text-align: center;  
}


.background { 
    width: 100%;
    height: 100%;
    background-image: url("../img/centro-comercial.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed; 
    filter: brightness(60%);
}

.container-main {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: auto;
    background-color:rgba(255, 255, 255, 0.31);
    border-radius: 15px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    overflow: auto;
}


.container-logo {
    width: 80%; 
    margin-top: 3%;    
}

.container-logo img{
    width: 150px;    
}

.container-imagen {
    margin-bottom: 3rem;
    width: 100%;
}

.container-main h2 {
    margin-bottom: 3rem;
    color: antiquewhite
}

.container-form {
    width: 50%;
    margin-bottom: 10%;
}

.container-form input {
    height: 45px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color:  #f1bc2d;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    margin-buttom: 10px;
}

.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
